//Body
$bodyTextColor: #2e2e2e;
$bodybgColor: #f7f8f3;

//Buttons and Form Elements
$primary: #0054ad;
$secondary: #51575D;
$outline-bg: white;
$shadow: 2px 3px 4px #aaa; 
$shadow-card: 0 3px 6px #aaa; 
$border-rad: 4px;
$border-grey: 1px solid #ccc;