/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import 'theme';

html {
    height: 100%;
    box-sizing: border-box;
 }

 body{
    //font-family: Noto Sans,Arial,sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      font-style: normal;
      line-height: 1;
      font-size: 93.8%;
      position: relative;
      cursor: default;
      color: $bodyTextColor;
      padding: 0;
      margin: 0;
      min-height: 100%;
      max-width: none;
      box-sizing: border-box;
      padding-bottom: 10rem;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

tr.mat-header-row  {
  color: #fff;
  height: 0 !important;
  font-weight: 700;
  text-decoration: none;
  min-height: 28px;
  line-height: 38px;
  margin: -.5em -.6em -.4em 0;
  padding: .5em .6em .4em 0;
  overflow: hidden;
  text-overflow: unset;
  word-wrap: break-word;
  white-space: normal;
}

tr.mat-row {
  height: 0 !important;
  min-height: 28px
}

form{ width:420px; display:block; float:none; }
.mat-form-field{width:100%;}
.misc-bottom-padding{margin:8px 0 20px;}
.misc-bottom-padding mat-label{margin-right:15px;}
.mat-radio-label{margin:0 15px 0 0;}
.title-center{margin:0 auto;}
.button-wrapper{margin-top:10px;}

.w-90 {
  width: 90%;
}
