<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded">
		<mat-icon>menu</mat-icon>
	</button>
	<h1 class="example-app-name">Feedback</h1>
	<span class="example-spacer"></span>
	<span class="pr-2">
		<button mat-mini-fab [matTooltip]="user.name" matTooltipPosition="left" color="accent">
			<mat-icon>perm_identity</mat-icon>
		</button>
	</span>
	<a mat-raised-button class="with-icon" href="javascript:void(0)" (click)="logout()">
		<mat-icon>power_settings_new</mat-icon>Logout
	</a>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
		(mouseleave)="mouseleave()">
		<mat-nav-list>
			<a mat-list-item (click)="onMenuClick(menu.key)"
				*ngFor="let menu of menuList" [ngClass]="{'sidebar-nav-active': this.utilService.selectedMenu === menu.key}">
				<mat-icon> {{ menu.icon }}</mat-icon>
				<span class="full-width pl-1" *ngIf="isExpanded || isShowing"> 
					{{ menu.name }} 
				</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet name="snc"></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>